.venv/
*.jpg
*.jpeg
*.png
*.bmp
*.gif
*.mp4
venv_ubuntu/
build/
install/
log/
venv/
.github/
.vscode/
.vs/
sandbox/
data/
firmware/
*.meta
*.repos
__pycache__/
eProsima/
micro_ros_setup/
pingpong_gunner/
ros2/
uros/